
<ion-header [translucent]="true" mode="ios">
  <ion-toolbar style="    direction: rtl;">
    
    <div class="deliveryAddress"> 
      <p class="address"><img src="assets/icon.png"></p>
      <div class="userPhoto" (click)="openAccount()" [style.backgroundImage]="'url('+ profile +')'" *ngIf="profile"></div>
      <div class="userPhoto" (click)="openAccount()" [style.backgroundImage]="'url(assets/user.png)'" *ngIf="!profile"></div>
    </div>
	
	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <div class="div_searchbar">
    <ion-searchbar animated="true" mode="ios" [placeholder]="('Search Restaurants' | translate) || '&nbsp;'"
      (ionChange)="onSearchChange($event)" [debounce]="250" class="search_bar"></ion-searchbar>
  </div> -->
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="main_content_div">
    <div class="card ion-no-padding" (click)="openHome(item)" *ngFor="let item of allRest">
      <img class="image_div" [src]="item.image" alt="">
    </div>
  </div>
</ion-content>