<ion-content class="ion-padding">
  <div class="login-logo">
  <h2 style="    text-align: right;
    font-weight: bolder;"> اهلا بيك في</h2>
    <img src="assets/icon.png" class="logo_icon" alt="foodies">
    <p class="login-name" style="font-weight:bolder;direction:rtl;">اسرع دليفري في مصر !</p>
    <p class="subTitle">اعمل حسابك معانا  <br>
      لتستفيد بعروض وخصومات ع الطاير</p>
  </div>

  <form *ngIf="loginformview" #loginForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item lines="none">
        <ion-input [(ngModel)]="login.email" type="email" [placeholder]="('Phone' | translate) || '&nbsp;'" name="email"
          #email="ngModel" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
          {{'Email is required' | translate}}
        </p>
      </ion-text>

      <!-- <ion-item lines="none">
        <ion-input [(ngModel)]="login.password" name="password" [placeholder]="('password' | translate) || '&nbsp;'"
          type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          {{'Password is required' | translate}}
        </p>
      </ion-text> -->
    </ion-list>

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding">
        <p class="frgTag" (click)="resetPass()">{{'Forgot Password?' | translate}}</p>
        <ion-button class="btn_class" (click)="onLogin(loginForm)" type="submit" expand="block" [disabled]="isLogin" style="--background:#30b430">
          <span *ngIf="!isLogin"> {{'Log In' | translate}}</span>
          <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
  
  <!-- <form *ngIf="!loginformview" #loginForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item *ngIf="!codesended" lines="none">
        <ion-input [(ngModel)]="phone" type="text" disabled="{{isDisabled}}" [placeholder]="('Email' | translate) || '&nbsp;'" name="PhoneNum"
          #PhoneNum="ngModel" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="codesended" lines="none">
        <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="code"   type = "text"   [placeholder]="('Enter Code Here' | translate) || '&nbsp;'" 
          spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item> -->
      <!-- <ion-text color="danger">
        <p [hidden]="PhoneNum.valid || submitted == false" class="ion-padding-start">
          {{'Phone is required' | translate}}
         
        </p>
      </ion-text> -->
<!--       
    </ion-list>

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding"> -->

        <!-- <p class="frgTag" (click)="resetPass()"> الرقم المسجل في حسابك هو {{phone}}</p> -->
        <!-- <ion-button *ngIf="!codesended" class="btn_class" (click)="loginWihPhone(phone)" type="submit" expand="block" [disabled]="isLogin" style="--background:#30b430">
          <span *ngIf="!isLogin"> {{'Send Code' | translate}}</span>
          <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        </ion-button>
        <ion-button *ngIf="codesended" class="btn_class" (click)="verfiy()" type="submit" expand="block" [disabled]="isLogin" style="--background:#30b430">
          <span *ngIf="!isLogin"> {{'confirm' | translate}}</span>
          <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>

  </form> -->
  <p class="createAcc" (click)="register()">{{'Dont have an account?' | translate}}
    <span class="registerTag">{{'Sign up' | translate}}</span>
  </p>
  <div class="btns">
    <img src="assets/imgs/en.png" (click)="changeLng('en')"
      [ngClass]="getClassName() == 'en' ? 'flagActive':'flagDeactive'" alt="">
    <img src="assets/imgs/spanish.png" (click)="changeLng('spanish')"
      [ngClass]="getClassName() == 'spanish' ? 'flagActive':'flagDeactive'" alt="">
  </div>
<div id="recaptcha-container"></div>
  <!-- <button ion-button block (click)="loginWihPhone()">phone</button>
  

  <ion-input type="text" [(ngModel)]="code"></ion-input>
  <button (click)="verfiy()">verify</button> -->
</ion-content>